<div class="text-center">
  <form class="form-signin"> 
    <div class="form-group">       
      <div class="form-label-group"> 
        <h2>Login do Usuário</h2>         
      </div>   
      <div class="form-label-group">
        <input type="email" id="emailLogin" class="form-control" placeholder="Digite seu e-mail">         
      </div>
      <div class="form-label-group">
        <input type="password" id="senhaLogin" class="form-control" placeholder="Digite sua senha" > 
      </div>
      <div class="form-label-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </div>
      </div>
  </form> 
</div>