<div class="text-center">   
      
      
        <form class="form-signin">    
          <div class="form-label-group"> 
            <h2>Login do Usuário</h2>         
          </div>  
          <div class="form-label-group">
            <input type="email" id="email" name="email" 
            class="form-control" 
            placeholder="Digite seu e-mail" 
            [(ngModel)]="usuario.email"
            [ngClass] = "{
              'is-valid': email.valid,
              'is-invalid': email.invalid && (email.touched || email.dirty)
            }"
            #email="ngModel"                       
            email 
            required/>  
            <div class="invalid-feedback" *ngIf="email.touched"> 
              <!--Verificando se a instrução required foi violada-->             
              <div *ngIf="email.errors.required">
                Favor informar um e-mail
              </div>
              <!---->
              <div *ngIf="email.errors.email">
                Formato incorreto
              </div>
            </div> 
          </div>
          <div class="form-label-group">
            <input type="password" id="senha" name="senha" 
            class="form-control" 
            placeholder="Digite sua senha" 
            [(ngModel)]="usuario.senha"
            [ngClass] = "{
              'is-invalid': senha.invalid && senha.touched,
              'is-valid': senha.valid
            }"
            #senha="ngModel"
            required/> 
            <div class="invalid-feedback" *ngIf="senha.touched">
              <div *ngIf="senha.errors.required">
                Favor informar uma senha
              </div>            
            </div>  
          </div>           
        
          <div class="form-label-group"> 
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginUsuario()" >Entrar</button>         
          </div>

          <div class="form-label-group">
            <div class="alert alert-success" role="alert" *ngIf="logado">
              Logado com sucesso <b>-></b>
            </div>

          </div>         
          </form>    
        
      
      
    <footer>Developed by DwD</footer>
</div>
   
