<div class="text-center">   
      
      
        <form class="form-signin">    
          <div class="form-label-group"> 
            <h2>Login do Usuário</h2>         
          </div>  
          <div class="form-label-group">
            <input type="email" id="email" name="email" 
            class="form-control" 
            placeholder="Digite seu e-mail" 
            [(ngModel)]="usuario.email"
            #email="ngModel"
            required/>    
            <div *ngIf="email.invalid && (email.dirty || email.touched)">              
                <div class="alert alert-danger" role="alert" *ngIf="email.errors.required">
                  E-mail é de preenchimento obrigatório
                </div>
              </div>     
          </div>
          <div class="form-label-group">
            <input type="password" id="senha" name="senha" 
            class="form-control" 
            placeholder="Digite sua senha" 
            [(ngModel)]="usuario.senha"
            #senha="ngModel"
            required/> 
          </div>
          <div class="form-label-group"> 
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginUsuario()" >Entrar</button>         
          </div>

          <div class="form-label-group">
            <div class="alert alert-success" role="alert" *ngIf="logado">
              Logado com sucesso
            </div>

          </div>         
          </form>    
        
      
      
    <footer>Developed by DwD</footer>
</div>
   
