<header>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 58%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">    
      
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' *ngIf="usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/usuario-main"]'>Usuário</a>
          </li>        
           <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/produto-main"]'>Produto</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/categoria-produto-main"]'>Categoria produto</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/login-usuario"]'>Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/pessoa-fisica-form"]'>Pessoa Física</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/pessoa-juridica-form"]'>Pessoa Jurídica</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/endereco-form"]'>End</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
            <a class="nav-item nav-link text-dark" [routerLink]='[""]' (click)="logout()">Sair</a>
          </li>         
        </ul>        
      </div>
    </div>
  </nav>  
</header>
