<div class="form-group">
  <div class="row">
    <div class="col-md-4 mb-3"> 
    </div>
    <div class="col-md-4 mb-3">
      <label for="emailUsuario">E-mail:</label>
        <input type="text" class="form-control" name="email" id="email" style="margin-bottom: 3%;"
        placeholder="Informe o seu e-mail"
        email
        required
        [(ngModel)]="usuario.email"
        #email = "ngModel"
        [ngClass] = "{'is-invalid': email.touched && email.errors.required }"
        >  
      
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" name="senhaEspelho" id="senhaEspelho" style="margin-bottom: 3%;"
      placeholder="Informe uma senha"
      [(ngModel)] = "senhaEspelho"
      senha
      #senha = "ngModel"
      required
      [ngClass] = "{'is-invalid': senha.touched && senha.invalid}">

      <label for="usuarioSenha">Senha:</label>
      <input type="password" class="form-control" name="usuarioSenha" id="usuarioSenha" style="margin-bottom: 3%;"
      placeholder="Repita a mesma senha"
      [(ngModel)] = "usuario.senha"
      uSenha
      #uSenha = "ngModel"
      required
      [ngClass] = "{'is-invalid': uSenha.invalid && uSenha.touched}">

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="pessoaJuridica" name="pessoaTipo" class="custom-control-input" style="margin-bottom: 3%;">
        <label class="custom-control-label" for="pessoaJuridica">Pessoa Física</label>                
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="pessoaFisica" name="pessoaTipo" class="custom-control-input" style="margin-bottom: 3%;">
        <label class="custom-control-label" for="pessoaFisica">Pessoa Jurídica</label>                
      </div>
      

      <p style="margin-top: 3%;">Selecione sua imagem de perfil:</p>
      <div class="custom-file">        
        <input type="file" class="custom-file-input" id="inputGroupFile04"  placeholder="Perfil">
        <label class="custom-file-label" for="inputGroupFile04"> Buscar </label>
      </div>
    </div>
    <div class="col-md-4 mb-3">      
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-dark btn-block">Cancelar</button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-info btn-block">Próximo</button>
    </div>
    <div class="col-md-4 mb-3">      
    </div>
  </div>
</div>