<form class="form-group">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="nomeUsuario">*Nome: </label>
      <input class="form-control" type="text" name="nomeUsuario" id="nomeUsuario" 
      placeholder="Informe seu nome"
      [(ngModel)]="usuario.nome"
      nome 
      #nome="ngModel"
      [ngClass]= "{'is-invalid': nome.touched && nome.invalid}" 
      required/>      
    </div>
    <div class="col-md-6 mb-3">
      <label for="sobrenomeUsuario">*Sobrenome:</label>
      <input class="form-control" type="text" name="sobrenomeUsuario" id="sobrenomeUsuario" 
      placeholder="Informe seu sobrenome" 
      required
      [(ngModel)]="usuario.sobrenome"
      sobrenome
      #sobrenome="ngModel"
      [ngClass]="{'is-invalid': sobrenome.touched && sobrenome.invalid}"/>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cpfUsuario">*CPF:</label>
      <input class="form-control" type="text" name="cpfUsuario" id="cpfUsuario" 
      placeholder="Informe seu CPF" 
      required
      [(ngModel)]="usuario.cpf"
      cpf
      #cpf="ngModel"
      [ngClass]="{'is-invalid': cpf.touched && cpf.invalid}"
      />      
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="emailUsuario">*E-mail:</label>
        <input class="form-control" type="text" name="emailUsuario" id="emailUsuario" 
        placeholder="Informe seu e-mail" 
        required
        [(ngModel)]="usuario.email"
        email
        #email="ngModel"
        [ngClass]="{'is-invalid': email.touched && email.invalid}"/>        
      </div>
      <div class="col-md-6 mb-3">
        <label for="senhaUsuario">*Senha: </label>
        <input class="form-control" type="password" name="senhaUsuario" id="senhaUsuario" 
        placeholder="Informe uma senha" 
        required
        [(ngModel)]="usuario.senha"
        senha
        #senha="ngModel"
        [ngClass]="{'is-invalid': senha.touched && senha.invalid}"/>        
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="inputChange($event.target.files)" placeholder="Perfil">
          <label class="custom-file-label" for="inputGroupFile04"> Selecione sua imagem de perfil </label>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <button class="btn btn-secondary btn-block" (click)="back()">Voltar</button>
      </div>
      <div class="col-md-6 -mb-3">
        <button class="btn btn-primary btn-block" (click)="cadastrarUsuario()" [disabled]="ativarSpinner">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</form>
